title: Marks and Spencer Engineering
description: Digital Garden for Ideas, Voice and an Open culture 
email: softwareengineering@marksandspencer.com

# Do not use the leading @ here
twitter: marksandspencerTech

url:
baseurl: "/"

markdown: kramdown
destination: '_site'
paginate: 4
paginate_path: /blog/page:num/
permalink: /blog/:year/:month/:title/
kramdown:
  input: GFM
  hard_wrap: false
relative_links:
  enabled:     true
  collections: true

# SEO Stuff
author: Marks and Spencer
description:
lang: en
locale: en_GB
url: "https://marksandspencer.com"
baseurl: ""
feed:

# RSS feeds
  posts_limit: 20



collections:
  docs:
    output: true
    using:
      output: true
      permalink: /:collection/:name
    releasing:
      output: true
      permalink: /:collection/:name

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "article"
  - scope:
      path: ""
      type: "docs"
    values:
      layout: "documentation"

plugins:
  - jekyll-paginate
  - jekyll-relative-links
  - jekyll-feed  

exclude:
  - 'Gemfile'
  - 'Gemfile.lock'

include:
  - '_pages'
  - '_posts'
  - '_docs'
