<section class="article__sidebar__block">
  <div class="article__sidebar__header">
    Documentation
  </div>
  <div class="tree__sub-heading accordion">
    Blogging
  </div>

  {% assign nav_url = page.url | remove: 'index.html' %}
  <ul class="tree__list accordion-panel">
    {% assign blog_docs = (site.docs | where: 'category', 'blogging' | sort: 'index') %} {% for doc in blog_docs%} {% if doc.url
    == nav_url %}
    <li class="tree__list-item--active">
      <a href="{{doc.url}}">{{ doc.title }}</a>
    </li>{% else %}
    <li>
      <a href="{{doc.url}}">{{ doc.title }}</a>
    </li>{% endif %} {% endfor %}
  </ul>

  <div class="tree__sub-heading accordion">
    Opensourcing
  </div>
  <ul class="tree__list accordion-panel">
    {% assign releasing_docs = (site.docs | where: 'category', 'opensourcing' | sort: 'index') %} {% for doc in releasing_docs%}
    {% if doc.url == nav_url %}
    <li class="tree__list-item--active">
      <a href="{{doc.url}}">{{ doc.title }}</a>
    </li>{% else %}
    <li>
      <a href="{{doc.url}}">{{ doc.title }}</a>
    </li>{% endif %} {% endfor %}
  </ul>
</section>
