  <footer id="footer" class="page-section--padding footer__wrapper">
    <div class="dc-container dc-container--limited">
      <div class="footer">
        <div class="footer__column">
          <div class="footer__title">
            <h2 class="dc-h2">Organisations</h2>
          </div>
          <ul class="footer__list">
            <li><a href="https://github.com/marksandspencer" target="_blank">marksandspencer oss</a></li>
            <li><a href="https://github.com/digitalinnovation" target="_blank">marksandspencer innersource</a></li>
          </ul>
        </div>
        <div class="footer__column">
          <div class="footer__title">
            <h2 class="dc-h2">Work with us</h2>
          </div>
          <ul class="footer__list">
            <li><a href="https://jobs.marksandspencer.com/" target="_blank">Jobs</a></li>
          </ul>
        </div>
        <div class="footer__column">
          <div class="footer__title">
            <h2 class="dc-h2">Connect with us</h2>
          </div>
          <ul class="footer__list footer__list--social">
            <li>
              <span class="footer__icon">
                <object data="{{ '/assets/svg/mail-alt.svg' | relative_url }}" type="image/svg+xml"></object>
              </span>
              <a href="mailto:{{site.email}}">
                {{site.email}}
              </a>
            </li>
            <li>
              <span class="footer__icon">
                <object data="{{ '/assets/svg/twitter.svg' | relative_url }}" type="image/svg+xml"></object>
              </span>
              <a href="https://twitter.com/{{site.twitter}}" target="_blank">
                @{{site.twitter}}
              </a>
            </li>
            <li>
              <span class="footer__icon">
                <object data="{{ '/assets/svg/rss.svg' | relative_url }}" type="image/svg+xml"></object>
              </span>
              <a href="https://jobs.marksandspencer.com/" target="_blank">
                Blog
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__column">
          <div class="footer__title">
            <h2 class="dc-h2">Links</h2>
          </div>
          <ul class="footer__list">
            <li><a href="/projects">Projects</a></li>
            <li><a href="/docs">Docs</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="https://jobs.marksandspencer.com/">Jobs</a></li>
          </ul>
        </div>
      </div>
    </div>

  </footer>
